# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [31]:
city_weather_df = pd.read_csv("../WeatherPy/output_files/cities.csv")

city_weather_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Albany,42.6001,-73.9662,23.00,50,99,1.01,US,1612199914
1,Alofi,-19.0595,-169.9187,75.20,100,90,4.61,NU,1612200185
2,Tuktoyaktuk,69.4541,-133.0374,-20.20,76,90,5.75,CA,1612200185
3,Buala,-8.1450,159.5921,81.10,78,100,13.87,SB,1612200185
4,Yellowknife,62.4560,-114.3525,-4.00,77,75,8.05,CA,1612199896
...,...,...,...,...,...,...,...,...,...
541,Port Blair,11.6667,92.7500,79.07,77,0,12.39,IN,1612200232
542,Kerman,30.2832,57.0788,42.80,19,0,4.61,IR,1612200232
543,Kidal,18.4411,1.4078,83.16,11,0,6.53,ML,1612200232
544,Manzhouli,49.6000,117.4333,-24.59,81,81,7.99,CN,1612200232
545,Utmanzai,34.1880,71.7629,55.40,50,20,4.61,PK,1612200148

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [21]:
#Store the latitude/longitude in a variable and the humidity in a separate variable
coordinates = city_weather_df[["Latitude","Longitude"]]
humidity = city_weather_df["Humidity"]


# # Customize the size of the figure
# figure_layout = {
#     'width': '400px',
#     'height': '300px',
#     'border': '1px solid black',
#     'padding': '1px',
#     'margin': '0 auto 0 auto'
# }

# Plot Heatmap
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [33]:
ideal_weather_df = city_weather_df.loc[(city_weather_df["Max Temp"] >= 75) & (city_weather_df["Max Temp"] <= 85) &
                                       (city_weather_df["Humidity"]<60) & (city_weather_df["Cloudiness"] < 10) &
                                       (city_weather_df["Wind Speed"] < 10)]
ideal_weather_df = ideal_weather_df.dropna(how = 'any')
ideal_weather_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
43,SÃ£o Filipe,14.8961,-24.4956,76.86,59,0,9.69,CV,1612200188
181,Tessalit,20.1986,1.0114,80.89,14,0,8.84,ML,1612200200
317,GourÃ©,13.9835,10.2704,80.01,10,1,1.01,NE,1612200211
478,Rawson,-43.3002,-65.1023,82.96,22,0,9.71,AR,1612200047
507,AdrÃ©,13.4667,22.2000,79.83,17,3,8.68,TD,1612200229
543,Kidal,18.4411,1.4078,83.16,11,0,6.53,ML,1612200232

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [38]:
hotel_df = ideal_weather_df
hotel_df["Hotel Name"]=""
hotel_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel,Hotel Name
43,SÃ£o Filipe,14.8961,-24.4956,76.86,59,0,9.69,CV,1612200188,,
181,Tessalit,20.1986,1.0114,80.89,14,0,8.84,ML,1612200200,,
317,GourÃ©,13.9835,10.2704,80.01,10,1,1.01,NE,1612200211,,
478,Rawson,-43.3002,-65.1023,82.96,22,0,9.71,AR,1612200047,,
507,AdrÃ©,13.4667,22.2000,79.83,17,3,8.68,TD,1612200229,,
543,Kidal,18.4411,1.4078,83.16,11,0,6.53,ML,1612200232,,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure